h4 {
    font-family: 'Roboto Slab', serif;
}
p {
    font-family: 'Roboto Mono, monospace';
}
#movie-header {
    font-family: 'Roboto Mono, monospace';
    font-size: 28px;
}
.comment-title {
    font-weight: 700;
    font-family: 'Roboto Mono, monospace';
}
.user-comment {
    font-family: 'Roboto Mono, monospace';
    font-size: 16px;
}
#poster {
    margin-bottom: 24px;
}
.search-cat {
    font-size: 18px;
}
footer {
    text-align: center;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: rgb(235, 235, 235);
}
a:any-link {
    color: black;
}
#watching-netflix {
    filter: brightness(30%);
    height: fit-content;
    max-height: 600px;
    width: fit-content;
}
#streaming-services {
    filter: brightness(50%);
    height: fit-content;
    max-height: 600px;
    width: fit-content;
}
#streaming-remote {
    filter: brightness(50%);
    height: fit-content;
    max-height: 600px;
    width: fit-content;
}
#first-poster {
    height: auto;
    width: auto;
}

#search-movie {
    text-align: center;
}
.bi-star {
   float: right 
}
.input-area {
    margin-top: 20px;
}
.btn {
    margin-top: 16px;
}
.comments-header {
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    text-decoration: underline;
}
.user-name {
    font-size: 20px;
    font-family: 'Roboto Slab, serif';
    font-weight: 800;
}
#google-icon {
    margin-top: 100px;
}
#please-login {
    text-align: center;
}
.text-muted {
    text-align: center;
}
#inputEmail {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#inputPassword {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#loginBtn,
#signUpBtn {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#alertInput {
    margin-top: 8px;
    font-family: 'Roboto Slab, serif';
    color: orangered;
}
#numSearches {
    margin-top: 8px;
    font-size: 24px;
    font-family: 'Roboto Slab, serif';
}
#numSearchBar {
    width: auto;
}